mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
  color: white;

  .spacer {
    flex: 1;
  }

  button {
    margin: 0 8px;
  }
}

footer {
  background-color: var(--footer-color);
  color: var(--text-color);
  text-align: center;
  margin-top: auto;
}

::ng-deep .mat-toolbar-row {
  height: 36px;
  align-items: center !important;
}
