
footer {
  display: flex;
  background-color: var(--footer-color);
  color: var(--text-color);
  align-items: center;
  .text-white {
    height: 40px;
  }
  p {
    font-size: 14px;
    color: var(--text-color);
    align-content: center;
    height: 40px;
    margin-right: 20px;
  }
}

