<div *ngIf="loading" class="mb-3">
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.header }}</th>
        <th *ngIf="showActions">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataSource">
        <td *ngFor="let column of columns">
          <ng-container [ngSwitch]="column.type">
            <ng-container *ngSwitchCase="'currency'">
              R$ {{ item[column.key] | number:'1.2-2' }}
            </ng-container>
            <ng-container *ngSwitchCase="'boolean'">
              <i
                class="bi"
                [ngClass]="item[column.key] ? 'bi-check-circle text-success' : 'bi-x-circle text-danger'"
              ></i>
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              {{ item[column.key] | date:'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ item[column.key] }}
            </ng-container>
          </ng-container>
        </td>
        <td *ngIf="showActions">
          <button class="btn btn-sm btn-outline-primary me-2" (click)="edit.emit(item)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="delete.emit(item)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
