<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <div>Email inválido</div>
      }
    </div>
  
    <div>
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password">
    </div>
  
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>