::ng-deep .mdc-list-item__primary-text {
  color: var(--text-color) !important;
}

mat-sidenav-container {
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color) !important;

  mat-sidenav {
    width: 250px;  /* Aumentado para melhor visualização */
    height: 100%;
    background-color: var(--sidebar-color);
    padding-top: 16px;

    mat-nav-list {
      padding-top: 0;

      a {
        color: var(--text-color);
        display: flex;
        align-items: center;
        padding: 8px 16px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        mat-icon {
          margin-right: 12px;
          color: var(--icon-color);
        }
      }
    }
  }

  mat-sidenav-content {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 16px;
  }
}