.icon-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
  width: 50px;
  height: 100%;
  padding: 0.5rem;
  border-right: 1px solid var(--text-color);
  button {
    color: var(--text-color);
    margin-bottom: 1rem;
  }
}

