:root {
  --background-color: #242323;
  --sidebar-color: #272727;
  --text-color: #dfdfdf;
  --border-color: #3c3c3c;
  --scrollbar-color: #3c3c3c;
  --scrollbar-thumb-color: #1d1d1d;
  --header-color: #333333;
  --footer-color: #333333;
  --link-color: #3794ff;
  --primary-color: #152d3d;
  // Cores inspiradas no Visual Studio Code
  --background-dark: #1e1e1e; // Fundo escuro do VS Code
  --primary-blue: #007acc; // Azul do VS Code
  --accent-orange: #d19a66; // Laranja para detalhes
  --text-light: #d4d4d4; // Texto claro
  --input-bg: #252526; // Fundo dos inputs
  --border-color: #3c3c3c; // Bordas
  --error-color: #f48771; // Cor para mensagens de erro
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
